.app_wrapper {
  padding-top: 40px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
  position: sticky;
  top: 0;
  left: 0;
  height: 80px;
  z-index: 2;
  > div {
    text-align: left;
  }
}
