.card_wrapper {
  padding-top: 30px;
}

.img_wrapper {
  width: 100%;

  overflow: hidden;
  border-radius: 10px;
  > img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    position: center;
  }
}
