.app_wrapper {
  display: block;
  max-width: 600px;
  height: 100%;
  padding-top: 64px;
  margin: 0 auto;
  background: rgb(255, 255, 255);
}

.title_box {
  padding: 16px;

  .title {
    box-sizing: border-box;
    color: rgb(43, 49, 52);
    cursor: pointer;
    display: inline;
    font-family: Inter, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    height: auto;
    line-height: 28px;
    width: auto;
    word-break: break-word;
  }

  .description {
    box-sizing: border-box;
    color: rgb(128, 128, 128);
    display: -webkit-box;
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    margin-top: 8px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
  }
}

.app_wrepper_ai {
  align-items: center;
  box-sizing: border-box;
  color: rgb(43, 49, 52);
  display: flex;
  height: 100px;
  padding: 0 16px;
}

.ai_proposition {
  align-items: center;
  background-color: rgb(219, 240, 221);
  border-radius: 84px;
  color: rgb(43, 49, 52);
  cursor: pointer;
  display: grid;
  grid-template-columns: 24px 1fr 16px;
  height: 64px;
  margin-bottom: 10px;
  max-width: 600px;
  min-height: 64px;
  width: 568px;
  padding: 12px 20px;
  position: relative;

  svg {
    fill: rgb(44, 109, 51);
    color: rgb(44, 109, 51);
  }
}

.ai_description {
  box-sizing: border-box;
  color: rgb(9, 22, 10);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0px 12px;
  position: relative;
}

.ai_left_arrow {
  color: rgb(44, 109, 51);
  cursor: pointer;
  font-family: Inter, serif;
  height: 16px;
  width: 16px;
}

.list_wrapper {
  padding-top: 8px;
}
