.app_wrapper {
  position: relative;
}

.radio_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.search_wrapper {
  > div {
    background: none;
  }
}

.premiumService_wrapper {
  margin-top: 10px;
}

.service_wrapper {
  padding-top: 40px;
}
