.app_wrapper {
  position: relative;
}

.spinner_wrapper {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio_wrapper {
  display: flex;
  gap: 8px;
}

.search_wrapper {
  > div {
    padding: 20px 0 20px;
    background: none;
  }
}

.service_wrapper {
  padding-top: 40px;
}
