.root__loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.root {
  /* overflow: hidden; */
  display: block;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
}
